/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #131417;
    color: #e0e0e0;
    overflow-x: hidden; /* Ensure no horizontal scrollbar on the body */
    margin: 0; /* Remove default margin */
}

html {
    overflow-y: auto; /* Ensure vertical scrolling is enabled */
    height: 100%; /* Ensure html takes up entire viewport */
}

#menu-toggle {
    display: none; /* Hide checkbox */
}

.menu-icon {
    display: none; /* Hide default menu icon */
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

/* Hamburger icon styles */
.menu-icon::before {
    content: "\2630"; /* Unicode character for hamburger icon */
}

#header {
    background-color: #131417;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#header nav {
    display: flex;
    align-items: center; /* Center align nav items */
}

#header nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}
/* Assuming the logo needs to be reduced in size */
.logo img {
    max-width: 240px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}

#header nav a:hover {
    color: orange;
}

main {
    padding-top: 80px; /* Adjusted padding to leave space for fixed header */
    overflow-x: hidden; /* Ensure no horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-top: -60px;
}

.section {
    min-height: 100vh; /* Ensure each section extends to at least viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131417; /* Background color for sections */
    overflow: hidden; /* Ensure no unnecessary vertical scrollbar */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.section-content {
    text-align: center;
    max-width: 800px; /* Adjust maximum width of content */
    margin: 0 auto; /* Center align content horizontally */
    padding: 50px;
}

.section-content h2 {
    font-size: 2.5em; /* Increased font size */
    margin-bottom: 20px;
}

.section-content p {
    font-size: 1.5em; /* Increased font size */
    line-height: 1.5;
    margin: 20px 0;
}

.section-content .highlight {
    color: orange;
    font-weight: bold;
    display: inline-block;
    border-right: 2px solid;
    white-space: nowrap;
}

.section-content a {
    color: #03a9f4;
    text-decoration: none;
    border-bottom: 1px solid #03a9f4;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

.section-content a:hover {
    color: #0288d1;
    border-bottom-color: #0288d1;
}

.underline-link {
    text-decoration: underline;
}

/* Media Queries */

/* For tablets and smaller screens */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2000; /* Ensure icon is above other content */
    }

    #menu-toggle:checked + .menu-icon::before {
        content: "\2715"; /* Unicode character for close icon when menu is open */
    }

    #menu-toggle:checked ~ #header nav {
        display: flex; /* Show nav links when checkbox is checked */
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #131417;
        text-align: center;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.1); /* Optional: Add shadow for dropdown effect */
        z-index: 1000; /* Ensure dropdown is above other content */
    }

    #header nav a {
        margin: 10px 0;
        font-size: 1.2em;
    }
}

/* For mobile phones */
@media screen and (max-width: 480px) {
    #header {
        padding: 15px 20px;
    }

    #header h1 {
        font-size: 1.5em;
    }

    main {
        padding-top: 70px; /* Adjusted padding */
    }

    .section-content {
        padding: 30px;
    }

    .section-content h2 {
        font-size: 2.2em;
    }

    .section-content p {
        font-size: 1.3em;
        line-height: 1.8;
    }
}


/* Updated styles for Skills section */

#skills {
    background-color: #131417; /* Match the website background color */
    color: #e0e0e0; /* Light text color for contrast */
    padding: 80px 0; /* Adjusted padding */
    margin-top: -200px;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}

.skill {
    flex: 1 1 250px; /* Flexbox properties to control item width and prevent shrinking */
    padding: 30px;
    background-color: #1a1c21; /* Dark background color */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
    text-align: center;
    transition: transform 0.5s ease-in-out; /* Added transition for hover effect */
}

.skill:hover {
    transform: translateY(-4px); /* Lift on hover effect */
}

.skill h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: orange; /* Accent color for headings */
}

.skill ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

.skill ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #e0e0e0; /* Light text color for skills */
}

/* Project section styles */

#projects {
    background-color: #131417; /* Match the website background color */
    color: #e0e0e0; /* Light text color for contrast */
    padding: 80px 0; /* Adjusted padding */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
    gap: 30px; /* Gap between project cards */
    margin-top: 30px; /* Margin between projects grid and content above */
}

.project-card {
    background-color: #1a1c21; /* Dark background color */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
    overflow: hidden; /* Ensure images do not overflow */
    margin-bottom: 30px; /* Adjusted margin between project cards */
}

.project-images {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    margin-bottom: -80px;
    
}

.image-slider {
    display: flex; /* Flex container for image slider */
    transition: transform 0.3s ease-in-out; /* Smooth slide transition */
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 1; /* Ensure buttons are above images */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.project-details {
    padding: 20px; /* Padding for project details */
    text-align: center; /* Center align text */
    
}

.project-details h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: orange; /* Accent color for headings */
}

.project-details p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.project-link {
    display: inline-block;
    color: #03a9f4; /* Link color */
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.project-link:hover {
    border-bottom-color: #03a9f4; /* Hover color for link underline */
}
/*Contact*/

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 900px; /* Increase width to 900px */
    margin: auto;
    padding: 20px; /* Increase padding for spacing */
}

.screen {
    position: relative;
    background: #222121;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(118, 117, 117, .6); /* Add glow effect */
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.5); /* Adjust shadow and glow */
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #2a2a2b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border-radius: 8px; 
    background: white;
}

.screen-header-button.close {
    background: red;
    
}

.screen-header-button.maximize {
    background: yellow;
}

.screen-header-button.minimize {
    background: green;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: orange;
    font-size: 46px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: orange;
}

.app-contact {
    margin-top: auto;
    font-size: 20px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: orange;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: rgb(177, 116, 2);
}




@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}
hr.glow {
    border: none;
    height: 2px;
    background: #0288d1;
    box-shadow: 0 0 15px #03a9f4, 0 0 150px #03a9f4, 0 0 300px #03a9f4;
    margin: 20px 0;
}

/* Footer styles */
footer {
    background-color: #131417;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

footer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

footer a:hover {
    color: rgb(40, 114, 223);
    transform: scale(1.1);
}

footer p span {
    color: red;
    transition: color 0.3s;
}

footer p span:hover {
    color: #ff6f61;
}

